@page
@model CoreDemo.Pages.WiproModel
@{
    ViewData["company"] = "Wipro";
    ViewData["name"] = "Tripura";
  
}
<p>Company name is : <b>@ViewData["company"] </b></p>
<p>Employee name is:<b>@ViewData["name"]</b></p>

