@{
}
<p>Welcome to My First View,Thank You All!</p>

@Html.ActionLink("Home Page", "Index", "Test")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Lunch Page", "LunchTime", "Test")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Course Page", "Course", "Test")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
